/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

/* Define a fonte padrão para o corpo do documento, a cor de fundo e o estilo dos elementos h1, h2 e p. */
body {
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: rgb(190, 190, 190); */
    background-image: url(/css/gifs/200w.gif);
    background-repeat: no-repeat;
    /* background-repeat: repeat-y ;
    background-repeat: repeat-x ; */
    background-size: cover;
    background-attachment: fixed;
    /*pode ser fixed, local ou scroll */

    /* x-position y-posição, x-porcentagem, y-porcentagem ,*/
    background-position: top center;

}

h1 {
    color: rgb(20, 14, 100);
    font-size: 45px;
}

h2 {
    color: rgba(233, 70, 70, 0.856);

}

p {
    margin-left: 50px;

}

a {
    text-decoration: underline double #177ddd;
    text-transform: capitalize;
    display: inline;
}

a:hover {
    color: #ff2277;
}

li {
    padding: 10px;
}


li.ordenada {
    list-style-type: upper-alpha;
}

li.nordenada {
    list-style-type: square;
}

table,
th,
td {
    border: solid 5px rgb(159, 35, 35);
    color: beige;
    padding: 5px;
}

#insetos {
    background: #db5656;
    color: #310516;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

#repteis {
    background: #17f029;
    color: #310516;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    ;
}

.tabelas-body {
    margin: 30px 40px 50px 100px;
    padding: 100px;
}

.planoH1 {
    background: orange;
    padding: 10px 10px 10px 30px;
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 250px;
    height: 250px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.705);


}

.planoH1:hover {
    background: #17f029;
}

.planoP {
    background: yellow;
    padding: 50px;
    border-radius: 5px;
    border: 1px solid black;
    clear: both;
}

.planoP:hover {
    background: #17f029;
    border-radius: 50px;
}

.float {
    display: flex;
    float: left; /*Desloca um elemento para a esquerda ou para a direita do seu contêiner, fazendo com que o texto e outros elementos ao redor o contornem. */
}

h1.bDados {
    position: absolute;
    left: 150px ;
    right: 200px ;
    color:rgb(202, 159, 16);
}

.box0 {
    border: 1px solid black;
    width: 500px;
    height: 500px;
}
.box1 {
    width: 50px;
    height: 50px;
    background: #17f029;
    position: absolute;
    top: 180px;
    
}
.box2 {
    width: 75px;
    height: 75px;
    background: #1cb629;
     position: absolute;
    top: 180px;
    left: 150px;
}
.box3 {
    width: 100px;
    height: 100px;
    background: #216927;
    position: absolute;
    top: 180px;
    left:180px;
}
.box4 {
    width: 125px;
    height: 125px;
    background: #1d3a1f;
}